<%- include('partials/_header.ejs') -%>
<body>
	<div class="tm-page-wrap mx-auto">
		<div class="position-relative">
			<%- include('partials/_navigation.ejs') -%>
			<div class="tm-welcome-container tm-fixed-header tm-fixed-header-1">				
            </div>

            <div id="tm-fixed-header-bg"></div> <!-- Header image -->
		</div>

		<!-- Page content -->
		<main>	
            <div class="container-fluid px-0">
				<div class="mx-auto tm-content-container">					

                    <div class="mx-auto pb-3 tm-about-text-container">
                        <section class="mb-4">

                            <!--Section heading-->
                            <h2 class="tm-page-title mb-5 tm-text-primary text-center">Getting Touch With Us</h2>
                            <!--Section description-->
                            <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
                                a matter of hours to help you.</p>
                        
                            <div class="row">
                        
                                <!--Grid column-->
                                <div class="col-md-12 mb-md-0 mb-5">
                                    <form id="contact-form" name="contact-form" action="/contact" method="POST">
                                        
                                        <!--Grid row-->
                                        <div class="row">
                        
                                            <!--Grid column-->
                                            <div class="col-md-6">
                                                <div class="md-form mb-5">
                                                    <input type="text" id="name" name="name" class="form-control" placeholder="Your name">                                                    
                                                </div>
                                            </div>
                                            <!--Grid column-->
                        
                                            <!--Grid column-->
                                            <div class="col-md-6">
                                                <div class="md-form mb-5">
                                                    <input type="text" id="email" name="email" class="form-control" placeholder="Your email">                                                    
                                                </div>
                                            </div>
                                            <!--Grid column-->
                        
                                        </div>
                                        <!--Grid row-->
                        
                                        <!--Grid row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="md-form mb-5">
                                                    <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject">                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <!--Grid row-->
                        
                                        <!--Grid row-->
                                        <div class="row">
                        
                                            <!--Grid column-->
                                            <div class="col-md-12">
                        
                                                <div class="md-form mb-5">
                                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Your Message"></textarea>                                                    
                                                </div>
                        
                                            </div>
                                        </div>
                                        <!--Grid row-->
                        
                                    </form>
                        
                                    <div class="text-center text-md-left">
                                        <a class="btn btn-primary text-white" onclick="document.getElementById('contact-form').submit();">Send</a>
                                    </div>
                                    <div class="status"></div>
                                </div>
                                <!--Grid column-->
                                                
                            </div>
                        
                        </section>
                        </div>  
                    </div>                                      			
				</div>
			</div>
            
            <div class="parallax-window" data-parallax="scroll" data-image-src="img/about-3.jpg"></div>
			
		</main>

		<div class="container-fluid tm-content-container mx-auto pt-5">
			<%- include('partials/_footer.ejs') -%>
    <script src="js/parallax.min.js"></script>
</body>
</html>